.article-contact{
	margin-top:50px;
	margin-bottom: 50px;
}

.article-contact > form{
	width: 45%;
	
}

.article-contact > form > div > label{
	width: 100%;
}

.article-contact > form > div > .input{
	width: 100%;
	font-size: 18px;
	border-radius: 3px;
	border: 3px solid #9C9C9C;

}

.article-contact > form > div > textarea{
	width: 100%;
	font-size: 18px;
	border-radius: 3px;
	border: 3px solid red;
}

.article-contact > form > div > .enviar{
	background: red;
	color:white;
	padding: 8px 15px;
	border: 1px solid red;
	border-radius: 3px;
}