*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	background: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	box-shadow: 0px 5px 5px #CFCFCF;
	
}

.nav{
	width: 80%;
	display: flex;
	justify-content: space-between;
	height: 40px;
	align-items: center;
}

.nav .logo {
	display: flex;
	align-items: center;
	
}

.nav .logo a{
	
	padding: 8px 15px;
	text-decoration: none;
	color: black;
}

.nav .div-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav .div-menu a{
	
	padding: 8px 15px;
	text-decoration: none;
	color: black;
	

}

.nav .div-menu a:hover{
	padding: 8px 15px;
	text-decoration: none;
	color: black;
	color:red;
	box-shadow: inset 0 -3px 0  red;
}

footer{
	background: #717171;
	width: 100%;
	display: flex;
	justify-content: center;
}

footer > div {
	width: 80%;
}

.section-index{
	width: 100%;
	display: flex;
	justify-content: center;
}

.section-index  .div-index{
	width: 80%;
}
